.SectionContainer{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SubContainer{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width:768px) {
  .SectionContainer{
    padding: 5rem 0 2rem;
  }
}