.circle{
    max-width: 14rem;
    width: 80%;
    height: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-1);
    text-decoration: none;
    padding-left: 2rem;
}

.circle span{
    padding-left: 1rem;
    font-weight: 600;
    font-size: var(--size-2);
}

.icon{
    font-size: 1.4rem;
    padding: 8px;
}

@media (min-width:768px) {
    .circle{
        width: auto;
        height: auto;
        border-radius: 999px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        padding: 2px;
    }

    .circle:hover{
        color: white;
        transform: translateY(-1rem);   
    }
    
    .circle span{
        display: none;
    }
}