.Presentation{
    background-color: var(--bg-page-prueba);
    height: calc(100vh - 3.4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--size-2);
    color: var(--text-color);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ImgProfile{
    width: 12rem;
    height: 12rem;
    border: 5px outset var(--color-3);
    border-radius: 999px;
}

.movingText{
    text-align: center;
    padding: 10px 0;
}

.movingText span{
    color: var(--color-3);
    font-weight: 900;
    font-size: 1.8rem;
}

@media (min-width:768px) {
    .Presentation{
        height: auto;
        padding: 13rem 0 8rem;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-column-gap: 4rem;
    }

    .movingText{
        width: 20rem;
        text-align: start;
    }
}