.Presentacion{
    background-color: var(--bg-page-prueba);
    height: 100vh;/*  esto es asi por que no esta el nav en fixed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--size-2);
    color: var(--text-color);
    
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ImgProfile{
    width: 12rem;
    height: 12rem;
    border: 5px outset #2a72ce;
    border-radius: 999px;
}

.tect{
    text-align: center;
    padding: 10px 0;
}
.tect span{
    color: #2a72ce;
    font-weight: 700;
    font-size: 1.8rem;
}
@media (min-width:768px) {
    .Presentacion{
        height: auto;
        padding: 13rem 0 8rem;
    }
    .contenedor{
        display: flex;
        flex-direction: row;
        align-items: center;
        grid-column-gap: 4rem;
    }

    .tect{
        width: 20rem;
        text-align: start;
    }
}