@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Hind', sans-serif, "Helvetica Neue", 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-page);
  color: var(--color-1);
}
body::-webkit-scrollbar {
  width: .6rem;
}
body::-webkit-scrollbar-track{
  background: rgb(0, 0, 0);
  
}
body::-webkit-scrollbar-thumb{
  background: #2a72ce;
  border-radius: 6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --size-1: 1rem;
  --size-1-1: 1.1rem;
  --size-2: 1.25rem;
  --size-3: 1.5rem;
  --color-1: white;/* #ebd3d3 */
  --color-2: #787272/* #8a8989 */;
  --bg-page: black/* rgb(233, 227, 227 )*/;
  /* --bg-page-prueba:#dbdb00; */
}